name: Build, Export and Publish Next.js App
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.x
      - run: |
          npm i
          npm run build
      - name: Next Pages
        uses: akbr-hilal/cashmanage
      - name: Commit and push changes
        run: |
          git config --global user.name "akbr-hilal"
          git config --global user.email "dev.akbrhilal@gmail.com"
          git add -A
          git commit -m "New Build"
          git push
